
@media (prefers-color-scheme : dark){

    .my_class_name {
        background-color: #1a202c;
    }
    
    .my_child_name {
        background-color: #1a202c
    }
    
    .username {
        color: whitesmoke;
      }
      
}
