@media (prefers-color-scheme: dark) {
  .parent_container {
    background-color: green;
    box-shadow: 10px 10px 0px 0px lightblue;
  }
}
.parent_container {
    background-color: green;
    box-shadow: 10px 10px 0px 0px lightblue;
}
