.parent_container {
    margin: 12px;
    background-color: #0d0f14;
    border-radius: 5px;
  }

  .parent_container_light{
    margin: 16px;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px #e6e6e6;
  }